/target/
/xtask/target/
/secrets/
/.cargo/config.toml
/data/
/config.toml
/config.dev.toml
/config.docker.toml
/.run/
.env
/docs/design/screenshots/

/resources/pasion/
/backups/

/config/dev/
/config/docker/

/resources/frontend/
